services:
  backend:
    build:
      context: backend
    ports:
      - "8000:8000"
    env_file:
      - backend/.env
    restart: always
  frontend:
    build:
      context: frontend
    ports:
      - "80:80"
    env_file:
      - frontend/.env
    restart: always